body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(61, 5, 114);
    font-size: 2.5em;
    margin: 2px;
    background-color: azure;
    width: 1000px;
    height: 700px;
}

.contenedor{
    width: 100%;
    max-width: auto;
    height: auto;
    margin: 1px;
}
header{
    width: 100%;
    max-width: auto;
    height: auto;
}
.encabezado{
    text-align: center;
    padding: 2px;
    margin: 3px;
    background-color: rgb(81, 180, 200);
}

footer{
    text-align: center;
    font-size: 10px;
}
.contenido{



}